@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Red Hat Display', sans-serif;
  /* font-family: 'Red Hat Mono', monospace; */
  font-size: 16px;
  line-height: 24px;

  color-scheme: dark;
  color: #f1f1f1;
  background-color: #333;
}

.a-wrapper {
  display: block;
  width: 60px;
}

.fancy-a {
  display: block;
  width: 40px;
  height: 10px;
  background-color: #f1f1f1;
  transform: translateY(55px);

  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.fancy-a.spin {
  animation-name: spin;
}

.fancy-a.spin::before {
  animation-name: spin-double-left;
}

.fancy-a.spin::after {
  animation-name: spin-double-right;
}

.fancy-a::before {
  position: absolute;
  display: block;
  content: '';
  background-color: #f1f1f1;
  width: 14px;
  height: 64px;
  transform: skew(-23deg) translateX(-14px) translateY(-38px);
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.fancy-a::after {
  position: absolute;
  display: block;
  content: '';
  background-color: #f1f1f1;
  width: 14px;
  height: 64px;
  transform: skew(23deg) translateX(47px) translateY(-38px);
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes spin {
  from {
    transform: translateY(55px) rotate(0deg);
  }

  to {
    transform: translateY(55px) rotate(360deg);
  }
}

@keyframes spin-double-left {
  from {
    transform: skew(-23deg) translateX(-14px) translateY(-38px) rotate(0deg);
  }

  to {
    transform: skew(-23deg) translateX(-14px) translateY(-38px) rotate(360deg);
  }
}

@keyframes spin-double-right {
  from {
    transform: skew(23deg) translateX(47px) translateY(-38px) rotate(0deg);
  }

  to {
    transform: skew(23deg) translateX(47px) translateY(-38px) rotate(-720deg);
  }
}
