@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --black: #333;
  --white: #f1f1f1;
  --red: #e65053;
  --red-dark: #e02327;
  --yellow: #fabc3c;
  --orange: #ffb238;
  --green: #59cd90;
  --blue: #176899;
  --cyan: #50e6e3;

  --primary: var(--black);
  --secondary: var(--blue);
  --background-primary: var(--white);

  color: var(--primary);
  background-color: var(--background-primary);

  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

[data-theme='dark'] {
  --primary: var(--white);
  --background-primary: var(--black);
  --secondary: var(--cyan);
}

code,
pre {
  font-family: 'Red Hat Mono', monospace;
}

.icon {
  color: var(--color);
}
